@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
:root{
  --orange: #EE4A24;
  --font:"DM Sans", serif;
  --mona:"Mona Sans", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: var(--font);
  padding: 16px 78px;
  height: 78px;
}
.links{
  display: flex;
  gap: 2rem;
  margin-left: 24rem;
  a{
    color: black;
    text-decoration: none;
    font-weight: 500;
  }
}
.nav-button{
  background-color: var(--orange);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  height: fit-content;
  width: 140px;
  font-size: 1rem;
  padding: 18px 10px ;
  text-align: center;
  margin-top: -8px;
}
.nav-button:hover{
  background-color: #FF5A3B;
}

/* Hero Section  */
.hero{
  background: linear-gradient(to left,rgba(0, 0, 0, 0.778), rgba(0, 0, 0, 0.798)), url('./assets/img (4).png');
  height: 150vh;
  color: white;
  padding: 35vh ;
}
.hero-text{
  font-family: 'Monasans', sans-serif;
  font-optical-sizing: auto;
  text-align: center;

  h1{
    font-size: 72px;
    font-weight: 200;
    line-height: 84px;
  }
  p{
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
    padding-top: 2vh;
  }
}